<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flight</title>
</head>
<body>
    <h3> Flight </h3>
    <p>Origin: {{flight.origin}}</p>
    <p>Destination: {{flight.destination}}</p>
    <p>Duration: {{flight.duration}}</p>

    <h3>Passengers</h3>
    <ul>
        {% for person in passengers %}
            <li>{{person}}</li>
        {% empty %}
            <li>No passengers</li>
        {% endfor %}
    </ul>

    <h3> Add passenger </h3>
    <form action="{% url 'book' flight_id=flight.id %}" method="post">
        {% csrf_token %}
        <select name="passenger">
            {% for passenger in non_passenger %}
                <option value="{{passenger.id}}">{{ passenger }}</option>
            {% endfor %}
        </select>
        <input type="submit">
    </form>

    <a href="{% url 'index' %}">Back Home</a>
</body>
</html>